<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <br><h2><a href="<%- url_for("/") %>"><%- config.title %></a></h2>
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for(config.avatar) %>" alt="avatar">
    </div><div class="right">
      <h2 class="vue"><%- config.title %></h2>
      <div class="home-nav">
        <ul class="pure">
          <li><a href="<%- url_for("/windows/") %>"><i class="fa fa-windows"></i>Windows</a></li>
          <li><a href="<%- url_for("/mac/") %>"><i class="fa fa-apple"></i>macOS</a></li>
          <li><a href="<%- url_for("/linux/") %>"><i class="fa fa-linux"></i>Linux</a></li>
        </ul><ul class="pure">
          <li><a href="<%- url_for("/ios/") %>"><i class="fa fa-apple"></i>iOS</a></li>
          <li><a href="<%- url_for("/android/") %>"><i class="fa fa-android"></i>Android</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<% if (config.motto) { %>
  <div id="highlights">
    <div class="inner">
      <% (config.motto||[]).forEach(function(value){ %>
        <div class="point">
          <h2><%= value.title %></h2>
          <p><%= value.detail %></p>
        </div>
      <%})%>
    </div>
  </div>
<%}%>

<div id="posts">
  <div class="inner">
    <h2>声明</h2>
    <br>
    <div class="content with-sidebar blog post">
      <div class="header">
          <p>本站所有下载链接均标注Source，如果部分第三方下载源侵犯了软件开发方或者合法代理商的合法权利，
            软件开发方或合法代理商可 <b><a href="mailto:<%= config.email %>">联系站长</a></b> 删除该链接。</p>
      </div>
    </div>
  </div>
</div>




<%- partial('partials/timeline') %>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;"></div>
</div>

<script>
(function () {
  var topScrolled = false

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
})()
</script>
