
<li class="nav downloads windows">
  <a class="nav-link <%- page.path.match(/windows(\/|$)/) ? 'current' : '' %>" href="<%- url_for("/windows/") %>"><i class='fa fa-windows fa-fw'></i>&nbsp;Windows</a>
</li>

<li class="nav downloads mac">
  <a class="nav-link <%- page.path.match(/mac(\/|$)/) ? 'current' : '' %>" href="<%- url_for("/mac/") %>"><i class='fa fa-apple fa-fw'></i>&nbsp;macOS</a>
</li>

<li class="nav downloads linux">
  <a class="nav-link <%- page.path.match(/linux(\/|$)/) ? 'current' : '' %>" href="<%- url_for("/linux/") %>"><i class='fa fa-linux fa-fw'></i>&nbsp;Linux</a>
</li>

<li class="seperator">|</li>

<li class="nav downloads ios">
  <a class="nav-link <%- page.path.match(/ios(\/|$)/) ? 'current' : '' %>" href="<%- url_for("/ios/") %>"><i class='fa fa-apple fa-fw'></i>&nbsp;iOS</a>
</li>

<li class="nav downloads android">
  <a class="nav-link <%- page.path.match(/android(\/|$)/) ? 'current' : '' %>" href="<%- url_for("/android/") %>"><i class='fa fa-android fa-fw'></i>&nbsp;Android</a>
</li>
